html,
body {
    width: 360px;
    height: 360px;
    background-color: #000000;
	
    margin: 0;
    padding: 0;
}

#page {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #000000;
    text-align: center;
    color: #ffffff;
}

#pie {
    height: 39px;
    margin-top: 40px;
    font-size: 18px;
    color: rgb(255, 255, 255);
	text-decoration: none;
}

#actualizado {
    height: 39px;
    margin-top: 10px;
    font-size: 14px;
    color: rgb(255, 255, 255);
	text-decoration: none;
}

#month {
    height: 39px;
    margin-top: 15px;
    font-size: 30px;
    color: rgb(56, 224, 0);
}

#calendar {
    margin: -15px 54px;
    padding-top: 19px;
    font-size: 1px;
}

#cabecera {
    margin: 0 54px;
    padding-top: 19px;
    font-size: 0.000001px;
}

.weekdays {
    position: relative;
    display: inline-block;
    width: 28px;
    height: 26px;
    line-height: 26px;
    margin-right: 9px;
    margin-bottom: 7px;
    vertical-align: middle;
    font-size: 23px;
}

.days {
    position: relative;
    display: inline-block;
    width: 28px;
    height: 29px;
    line-height: 29px;
    margin-right: 9px;
    margin-bottom: 4px;
    vertical-align: middle;
    font-size: 23px;
}

.today {
    color: rgb(0, 0, 0);
    font-weight: bolder;
    text-decoration: underline;
    
    background-size: 100%;
    background-repeat: no-repeat;
}

.domingo {
	margin-right: 0;
}

.M {
    color: rgb(148,203,172);
}

.T {
    color: rgb(1,186,137);
}
.AM {
    color: rgb(189, 150, 181);
}
.AT {
    color: rgb(167,112,154);
}
.FM {
    color: rgb(151,203,201);

}
.FT {
    color: rgb(92,195,202);
}
.L {
    color: rgb(255,201,131);
}
.D {
    color: rgb(197,197,197);
}
.C {
    color: rgb(0,0,0);
}

#calendar-button {
    height: 63px;
}

.calendar-button-text {
    width: 36px;
    font-size: 28px;
    vertical-align: middle;
}

.calendar-button-icon {
    width: 18px;
    height: 36px;
    vertical-align: middle;
}

.event-icon {
    position: absolute;
    bottom: 0px;
    left: 9px;
    width: 9px;
    height: 9px;
}
