body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e0e0e0;
    overflow: hidden;
}

.main-container {
    position: relative;
    width: 90%;
    height: 90%;
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
}

.container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
}

.category, .subcategory {
    background-color: #f0f0f0;
    padding: 20px;
    margin: 10px;
	width: 35%;
    border-radius: 8px;
    display: flex;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.category:hover, .subcategory:hover {
    background-color: #e0e0e0;
}

.category-img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.subcategory-container {
    transform: translateX(100%);
}

.explanation-container {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow-y: auto;
}

.explanation-content {
    padding: 20px;
    margin: 7%;
	
    text-align: left;
}

.explanation-content h2 {
    margin-bottom: 10px;
}

.explanation-content p {
    line-height: 1.6;
}

.back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.reiniciar-button {
    position: absolute;
    bottom: 30px;
    right: 60px;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.back-button:hover {
    background-color: #0056b3;
}

form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}



.form-group {
  margin-bottom: 15px;
}
.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
.form-group input[type="text"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
.form-group input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 5px 5px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.form-group-radio {
  margin-bottom: 15px;
}
.form-group-radio label {
  margin-bottom: 5px;
  font-weight: bold;
}
.form-group-radio input[type="radio"] {
  margin-right: 4px;
  margin-bottom: 10px;
}
.form-group-radio input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 4px 7px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.contenedor {
   margin-top: 60px;
   width: 90%; /* Ancho del div */
   height: 90%; /* Altura del div */
   overflow: auto; /* Habilita la barra de desplazamiento si es necesario */
   border: 0px; /* Borde para visualización */
}

#info-box {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    border-radius: 5px;
    font-size: 14px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s ease-in-out;
}

#info-box.show {
    visibility: visible;
    opacity: 1;
}

.end-marker {
    width: 100%;
    height: 1px; /* Tamaño pequeño pero visible para el observador */
}

.imagen-centrada {
    display: block;
    margin: 0 auto;
    width: 50%;
}